<style>
  body {
    background: <%= @color %>;
  }
</style>
<center>
<h1>About Bob</h1>
<h3>After serving several years in prison for selling "lemons", Bob underwent therapy and rehabilitation to perfect his skill as the worlds finest car salesman.</h3>
<h3>However, five weeks after his release, Bob found himself back behind bars for selling empty wrapers of candy to unsespecting children. Ten years after his second sentence, Bob has put himself through school at Daniel Twitches University and graduated the head of his class of one as a supurb salesman.</h3>
<h3>After many years of collecting the finest cars around, Bob is back to gaurentee you the best deal or you're *money back!</h3>
</center>


<center><%= image_tag "bmw.jpg", class: "img-responsive" %></center>
<center><%= image_tag "porsche.jpg", class: "img-responsive" %></center>



<p>*No Refunds</p>
