<center>
<h2>Do to the high level of complaints and/or lawsuits, Bob's "Not too Shadey" Vehicles can only be reach via email.</h2>
<h3>Want to schedule an appointment? You can do so by emailing us at: Iagreetothisdeal@bobs.com</h3>
<p>For all other inquiries, please contact our lawyers at Sanford & Son's Law Firm</p>
</center>
